<h1>Login</h1>
<%= form_tag sessions_path do %>
  <%= label :user, :username %>
  <%= text_field :user, :username %><br>
  <%= label :user, :password %>
  <%= password_field :user, :password %><br>
  <%= submit_tag "Login" %>
<% end %>
<br>
<br>
<%= link_to "Create an account", new_user_path %>
