<h1>Create a Recipe!</h1>

<%= form_for [@recipe] do |f| %>
      <%= f.label "Name" %>
      <%= f.text_field :dish_name %>
      <%= f.label "Description" %>
      <%= f.text_area :description %>
      <% f.label "Ingredients" %>
      <%= f.fields_for :lists do |i| %>
        <%= i.label :amount %>
        <%= i.text_field :amount %>
      <% end %>
      <%= f.label "Instructions" %>
      <%= f.text_area :instructions %>
      <%= f.submit %>

  <% end %>

  