<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:3000/users">Homepage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/recipes"> Recipes <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More Info
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"> About Us </a>
          <a class="dropdown-item" href="#">Terms and Conditions</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"> Secret files </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/login"> Login/sign up</a>
      </li>
     <li class="nav-item">
        <%= link_to 'Back', :back, class: "nav-link" %>
    </ul>    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Chef's/Recipes</button>
    </form>
  </div>
</nav>

 <div class="nav-link" >
<h3><%= @recipe.dish_name %><br>
  <ul>
    <% @ingr.each do |i| %>
      <li><%= i %>
      <% end %></ul>

    <img src=<%= @recipe.img_url %>  alt="Lights" style="width:10%">
    <br>
    <% if current_user && @recipe.user == current_user %>
      <%= form_tag recipe_path(@recipe.id), method: "delete" do %>
        <%= submit_tag "Delete #{@recipe.dish_name}" %>
      <% end %>
    <% end %>

</div>
<p><%= @recipe.description %></p>
<p><%= @recipe.instructions %></p>

