<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="jumbotron text-center">
  <h2> Create a Cook!! </h2>
  <br>
  <form>
    <div class="form-group">
      <%= form_for @user do |u| %>
        <%= u.label :first_name %>
        <%= u.text_field :first_name %><br>
        <%= u.label :last_name %>
        <%= u.text_field :last_name %><br>
        <%= u.label :username %>
        <%= u.text_field :username %> <br>
        <%= u.label :email %>
        <%= u.text_field :email %> <br>
        <%= u.label :password %>
        <%= u.password_field :password %> <br>
        <%= u.label "Confirm password" %>
        <%= u.password_field :password_confirmation %> <br>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <%= u.submit %>
      <% end %>
    </div>
